.vscode
.idea
*.log
scripts/.env
scripts/images.list
scripts/update-images.list
scripts/updates.list
images
tests
docker-compose.yml
.cospec
.roo


data/**
docs/**

# tpl same to ./scripts/templates.list
config/apisix/config.yaml
config/etcd/etcd.conf.yml
config/casdoor/app.conf
config/code-completion/config.yaml
config/codereview/config/issue-manager-config.yaml
config/codereview/config/review-checker-config.yaml
config/codereview/config/review-manager-config.yaml
config/codereview/config/base/config/costrict/costrict.json
config/grafana/config/grafana.ini
config/grafana/provisioning/datasources/all.yaml
config/portal/nginx.conf
config/prometheus/prometheus.yml
config/quota-manager/app-conf.yml
config/portal/static_file/wasm
config/portal/static_file/costrict
config/portal/static_file/*.tar.gz

docker-compose.yml